[user]
  name = William Youmans
  email = will@williamyoumans.com
[color]
  ui = auto
[advice]
  statusHints = false
[core]
  whitespace = trailing-space,space-before-tab
  editor = vim
  excludesfile = ~/.gitignore_global
[merge]
  stat = true
[alias]
  st = status
  co = checkout
  cleanup = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d
  undo = reset --soft HEAD^
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[push]
  default = matching
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
