[user]
  name = William Youmans
  email = william@digitaltrike.com
[color]
  ui = auto
[advice]
  statusHints = false
[core]
  whitespace = trailing-space,space-before-tab
  editor = vim
  excludesfile = /Users/william/.gitignore_global
[merge]
  stat = true
[alias]
  st = status
  co = checkout
  com = commit -am
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[push]
	default = matching
